<div class="go_back"><%= link_to "Back To All Pots", pots_path %></div>

<div id="intro">
  <h1><%= @quest.name %></h1>
  <p><%= @quest.description %></p>
  <h4>Total # of tiers: <%= @quest.tiers.count %></h4>
</div>

<%= render 'list_tiers' %>

