<div id="intro">
  <h1>Check out the live Feed</h1>
  <p>These users have finished tiers that need two approval votes from the Skillet community before they can receive their hard-earned points. Take the time to "check" their work and earn bonus points yourself!</p>
</div>
<div class="clear"></div>



<div id="content"> 
  <div id="feed_all">

    <% @feed_items.each do |feed_item| %>
      <% if feed_item.approval_votes < 2 %>
        <div class="feed_item">
          <div class="pentagon penta gon" id="<%= feed_item.id %>-feed-pic" style="background: url('<%=feed_item.tier_image.detail.url%>') no-repeat 50% 50%;">
          </div>
          <div class="feed_textbox">
            <% usr_array = feed_item.user_email.split('@') %>
            <p class="feed_textbox_p"><%= usr_array.first %> completed:</p>

            <% tid = feed_item.tier_id %>
            <% t = Tier.find(tid) %>
            <% r = t.quest_id %>
            <% q = Quest.find(r) %>

            <h3 class="feed_textbox_h3"><%= q.name %></h3>

            <h4 class="feed_textbox_h4">Tier <%= t.tier_number %></h4>
            <% if feed_item.user_email == current_user.email %>
              <div class="no_approval"><p>Your Tier</p></div>
            <% else %>
              <button class="approval">Approve</button>
              <% if feed_item.approval_votes > 0%>
                <p class="pending">Pending &nbsp;&nbsp;<span><%= feed_item.approval_votes %></span>&nbsp;&nbsp; vote</p>
              <% else %>
                <p class="pending">Pending &nbsp;&nbsp;<span>2</span>&nbsp;&nbsp; votes</p>
              <% end %>
            <% end %>
          </div> <!-- closes .feed_textbox -->

          <div class="approval_form centered hidden">
            <div class="approval_form_top">
              <button class="close_approval_form">X</button>
              <div class="approval_form_top_text">
                <h4 class="approval_form_h4">Approve <%= usr_array.first %>'s Work</h4>
                <h5 class="approval_form_h5"><%= q.name %>, <%= t.tier_number %></h5>
              </div>
            </div>
            <div class="approval_form_bottom">
              <div class="approval_form_bottom_inner">
                <h3 class="approval_inner_h3">Tier Summary:</h3>
                <p class="approval_form_p">
                  <span><%= t.name %></span><br>
                  <%= t.description %><br><br>
                  <span><%= usr_array.first %>'s photo of this recipe:</span>
                </p>
                <div class="feed_submit_image">
                  <%= image_tag(feed_item.tier_image.detail.url) %>
                </div>
                <p class="approval_form_p">
                  <span>What <%= usr_array.first %> said about this recipe: </span><br>
                  <%= feed_item.tier_caption %>
                </p>
                <p class="approval_form_p">
                  By clicking on the button below, you confirm that <span class="submitee"><%= usr_array.first %></span> appears to have completed this tier to the best of their ability. They have submitted a photo and caption that is relevant to the recipe.
                </p>
                <% @feed_item = feed_item %>
                <%= render 'form' %>
              </div>
            </div>

          </div> <!-- closes approval_form -->
        </div> <!-- closes .feed_item -->

      <% end %> 
    <% end %>




  </div> <!-- closes #feed_all -->
</div> <!-- closes #content -->





